.botao {
    display: block;
    width: 10%;
    padding: 10px 15px;
    border: 0;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
}

.botao:hover {
    background-color: green;
}